<nav class="sticky top-0 bg-gradient-to-r from-cyan-950 to-cyan-700 border-gray-200 z-50">
    <div class="max-w-screen-xl mx-auto p-4">
        <div class="flex items-center justify-between">
            <!-- Logo -->
            <div class="flex-shrink-0">
                <a class="flex items-center space-x-3 rtl:space-x-reverse">
                    <span class="self-center text-2xl sm:text-3xl md:text-2xl font-semibold whitespace-nowrap text-cyan-200">FindYourFits</span>
                </a>
            </div>

            <!-- Elemen tengah navbar -->
            <div class="hidden md:flex items-center justify-center flex-grow">
                <div class="flex space-x-4">
                    <a href="{% url 'main:show_main' %}" class="text-cyan-200 hover:bg-cyan-600 hover:text-white rounded-md px-4 py-2 text-base font-medium">Home</a>
                    <a href="{% url 'main:sell_product_entry' %}" class="text-cyan-200 hover:bg-cyan-600 hover:text-white rounded-md px-4 py-2 text-base font-medium">Tambah Produk</a>
                </div>
            </div>

            <div class="flex items-center">
                <!-- Hamburger button -->
                <button type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm 
                text-cyan-200 rounded-lg md:hidden hover:bg-cyan-600 
                focus:outline-none focus:ring-2 focus:ring-cyan-300 mobile-menu-button" aria-controls="navbar-cta" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                <!-- Logout -->
                <a href="{% url 'main:logout' %}" class="hidden md:block text-center bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-300 ml-4">
                    Logout
                </a>
            </div>
        </div>
    </div>

    <!-- Mobile -->
    <div class="hidden w-full md:hidden" id="navbar-cta">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3 bg-cyan-800 rounded-b-lg shadow-lg">
            <a href="{% url 'main:show_main' %}" class="text-cyan-100 hover:bg-cyan-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Home</a>
            <a href="{% url 'main:sell_product_entry' %}" class="text-cyan-100 hover:bg-cyan-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Tambah Produk</a>
            <a href="{% url 'main:logout' %}" class="text-white bg-red-500 hover:bg-red-600 block px-3 py-2 rounded-md text-base font-medium">Logout</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const mobileMenuButton = document.querySelector('.mobile-menu-button');
            const mobileMenu = document.getElementById('navbar-cta');

            mobileMenuButton.addEventListener('click', function() {
                mobileMenu.classList.toggle('hidden');
            });
        });
    </script>
</nav>