{% extends 'base.html' %}
{% block content %}
<h1>FindYourFits</h1>

<h3>Nama Aplikasi </h3>
<p>{{ app_name }}</p>
<h3>Nama </h3>
<p>{{ name }}</p> 
<h3>NPM </h3>
<p>{{ npm }}</p> 
<h3>Kelas </h3>
<p>{{ class }}</p>

{% if not product_entries %}
<p>Belum ada produk yang dijual saat ini.</p>
{% else %}
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Harga</th>
    <th>Stok</th>
    <th>Kondisi</th>
    <th>Deskripsi</th>
  </tr>

  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.stock}}</td>
    <td>{{product_entry.condition}}</td>
    <td>{{product_entry.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:sell_product_entry' %}">
  <button>Tambah Produk ke Market</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
{% endblock content %}